{% extends 'base.html.twig' %}

{% block title %}Dashboard Administrateur !{% endblock %}

{% block body %}
 <div class="container mt-5">
    <div class="row">
        {% include 'dashboard/menu.html.twig' %}
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-primary text-center text-white">
                    Informations générales
                </div>
                <div class="card-body">
                     <div class="row">
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header text-center">
                                    Nombre Utilisateurs
                                </div>
                                <div class="card-body text-center">
                                    10
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header bg-warning text-center">
                                    Nombre Publications
                                </div>
                                <div class="card-body text-center">
                                    12
                                </div>
                            </div>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </div>
 </div>
{% endblock %}
