<div class="col-md-4">
            <div class="card">
                <div class="card-header bg-primary text-center text-white">
                    Menu Principale
                </div>
                <div class="card-body">
                     <ul class="list-group">
                        <li class="list-group-item"><a class="text-primary" href="{{ path('user_list') }}">Gestion Utilisateurs</a></li>
                        <li class="list-group-item"><a class="text-primary" href="{{ path('pubs_list') }}">Gestion Publications</a></li>
                    </ul>
                </div>
            </div>
        </div>